<template lang="pug">
.bloque(v-if='Navegador')
  .bloque-circulo.white
      v-img(:src='Navegador.llamanos_icono').ml-1
  .bloque-blanco.white  
    .texto(style='padding-left: 25px; padding-top: 22px; position: absolute; line-height: 16px').justify-center.align-center
        v-row.mt-0.mb-0.pt-0.pb-0
          strong.primario--text.font-weight-light Llámanos al
        //- v-row.mt-0.mb-0.pt-0.pb-0
        //-   strong.primario--text 991 250 606 
</template>
<style lang="sass" scoped>
.bloque
  position: absolute
  top: 0%
  right: 6%
  .bloque-blanco
    top: 0
    width: 220px
    height: 75px
    float: left
    margin-left: -40px
    position: relative
    z-index: -1
    padding-left: 30px
  .bloque-circulo
    position: relative
    top: 0
    border-radius: 50%
    width: 74px
    height: 75px
    float: left
</style>