<template lang="pug">
  //- v-btn(v-if='WhatsApp' fab icon x-large bottom right fixed target='_blank'  :href='`https://wa.me/${WhatsApp.número}`')
  //-   v-img(:src='WhatsApp.imagen'  style='max-width: 90px!important; max-height: 90px!important')
</template>
<style lang="sass">
  .estilo_whatsapp
    background-color: #00bb2d!important
    top: 88%!important
    right:  2%!important
    -webkit-animation: pulse 1s ease infinite
    -moz-animation: pulse 1s ease infinite
    -ms-animation: pulse 1s ease infinite
    -o-animation: pulse 1s ease infinite
    animation: pulse 1s ease infinite
@-webkit-keyframes pulse
  0%
    -webkit-transform: scale(1)

  25%
    -webkit-transform: scale(1.3)

  50%
    -webkit-transform: scale(1)

  100%
    -webkit-transform: scale(1)

@-moz-keyframes pulse
  0%
    -moz-transform: scale(1)

  25%
    -moz-transform: scale(1.3)

  50%
    -moz-transform: scale(1)

  100%
    -moz-transform: scale(1)

@-ms-keyframes pulse
  0%
    -ms-transform: scale(1)

  25%
    -ms-transform: scale(1.3)

  50%
    -ms-transform: scale(1)

  100%
    -ms-transform: scale(1)

@-o-keyframes pulse
  0%
    -o-transform: scale(1)

  25%
    -o-transform: scale(1.3)

  50%
    -o-transform: scale(1)

  100%
    -o-transform: scale(1)

@keyframes pulse
  0%
    transform: scale(1)

  50%
    transform: scale(1.3)

  100%
    transform: scale(1)
</style>
